<footer>
  <span class="copyright"
    >&copy; Copyright 2023 | Developed with <i class="pi pi-heart-fill"></i> &
    <i class="pi pi-code"></i> by
    <a class="website" href="https://brian-moretti.github.io/" target="_blank"
      ><strong>Brian Moretti</strong></a
    ></span
  >

  <div class="social">
    Build with
    <img
      src="../../../assets/images/angular.png"
      title="angular"
      width="20px"
      height="20px"
      alt="angular icon"
      [ngStyle]="{ 'margin-right': '5px' }"
    />
    <i
      title="angular-ng-prime"
      class="pi pi-prime"
      [style]="{ 'font-size': '20px', color: '#E23237' }"
    ></i>
    <img
      src="../../../assets/images/chart-js.png"
      title="chart-js"
      width="20px"
      height="20px"
      alt="chart-js"
      [ngStyle]="{ 'margin-left': '5px' }"
    />
    | My Links:
    <a href="https://github.com/brian-moretti" target="_blank"
      ><i title="github" class="pi pi-github" style="font-size: 20px"></i
    ></a>
    <a></a>
  </div>
</footer>
