<footer>
  <span class="copyright"
    >&copy; Copyright 2023 | Developed with <i class="pi pi-heart-fill"></i> &
    <i class="pi pi-code"></i> by
    <a href="https://brian-moretti.github.io/" target="_blank"
      >Brian Moretti</a
    ></span
  >

  <div class="social">
    Build with
    <img
      src="../../../assets/images/favicon.ico"
      title="angular"
      width="16px"
      height="16px"
      alt="angular icon"
      [ngStyle]="{ 'margin-right': '5px' }"
    />
    <i title="angular-ng-prime" class="pi pi-prime"></i>
    | My Links:
    <a href="" target="_blank"><i title="github" class="pi pi-github"></i></a>
    <a></a>
  </div>
</footer>
