footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.website:hover {
  color: var(--color-orange);
}

.social img,
.social i {
  filter: grayscale(1);
}

.social img:hover,
.social i:hover {
  filter: grayscale(0);
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 2rem;
  }
}
