:host ::ng-deep .intro .p-button {
  background-color: var(--color-blue);
}

:host ::ng-deep .intro .p-button:hover {
  background-color: var(--color-light-blue);
}

:host ::ng-deep form .p-button {
  background-color: var(--color-blue);
}

:host ::ng-deep form .p-button:hover {
  background-color: var(--color-light-blue);
}

:host ::ng-deep .p-button.p-button-icon-only {
  width: 3.5rem;
  height: 3.5rem;
}

:host ::ng-deep .p-inputtext {
  width: calc(460px - 2rem);
}

:host ::ng-deep .p-dropdown {
  max-width: calc((460px - 2rem - 20px) / 2);
}

:host ::ng-deep .p-button .pi {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .title {
    width: 90%;
    margin: 0 auto;
  }

  .title p {
    font-size: calc(0.55rem + 1vw);
    padding: 0.5rem 0.2rem;
  }

  .footprint {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    overflow: visible;
  }

  hr {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  form {
    max-width: 300px;
  }

  .dropdown-container {
    flex-direction: column;
  }

  .airports-selection {
    width: calc(300px - 2rem);
    max-height: 200px;
  }

  .loading {
    width: 300px;
  }

  .error-message {
    width: 300px;
  }

  .results {
    width: 300px;
  }

  :host ::ng-deep .p-inputtext {
    max-width: calc(300px - 2rem);
  }

  :host ::ng-deep .p-dropdown {
    max-width: calc(300px - 2rem);
  }
}
